.food-display{
    margin-top: 30px;

}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight:600 ;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-display-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Space between food items */
}

.food-item {
    width: 200px; /* Set a fixed width for each food item container */
    text-align: center;
    margin: 10px;
}

.food-item img {
    width: 100%;
    height: 150px; /* Fixed height for all images */
    object-fit: cover; /* Ensure images are scaled and cropped properly */
    border-radius: 8px; /* Optional: give a rounded corner to the images */
}
